body {
    margin: 0;
}

/*==============Header=================*/

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* important */
    background-color: rgb(108, 88, 241);
    padding: 10px 20px;
    width: auto;
}

#nav {
    margin-left: 5Vw;
}

header h1 {
    display: inline;
    color: white;
    margin-left: 20px;
}

header ul {
    display: flex;
    gap: 10px;
    padding: 0;
    margin: 0;
}

header li {
    color: #FFF;
    height: fit-content;
    width: fit-content;
    list-style: none;
    padding: 5px;
    background-color: blueviolet;
    border-radius: 15px;
    width: max-content;
    margin-left: 10px;
}

header a {
    text-decoration: none;
    color: #FFF;
}

header li:hover {
    background-color: rgb(108, 88, 241);
    cursor: pointer;
}


/*==============footer=================*/
hr {
    margin: 1% 0 1% 0;
}

footer {
    background-color: rgb(77, 77, 77);
    color: white;
    text-align: center;
    padding: 60px;
    padding-top: 30px;
    bottom: 0;
    width: auto;
}

.footerstuff {
    font-size: 20px;
    height: 150px;
    display: block;
    margin-bottom: 40px;
}

.footerstuff a {
    text-decoration: none;
    color: white;
    font-size: 20px;
    margin: 0 10px 0 10px;
}

/*==============main body content(what people will read and stuff)=================*/

main {
    text-align: center;
    margin-top: 20px;
}

main h1 {
    font-size: 60px;
    margin-bottom: 40px;
    color: rgb(23, 1, 44);
}

#skills-intro {
    margin-top: 100px;
    margin-bottom: 100px;
}

.skillslistcontent ul {
    width: 90%;
    margin: 0 40px;
    justify-content: space-between;
    display: flex;
}

.skillslist ul {
    padding-left: 0;
}

.skillslistcontent li {
    list-style: none;
    background-color: rgb(108, 88, 241);
    color: white;
    padding: 20px;
    border-radius: 15px;
    width: 30%;
    height: auto;
    margin: 20px;
    text-shadow: #FFF 1px 0 1px;
}

#htmlcss {
    background-image: url("img/html.png");
}

#htmlcss p {
    color: #edf39f;
}

/*==============after short skills list=================*/
.img {
    width: 100%;
    height: 200px;
    border-radius: 5px;
    box-shadow: #e0dede 0px 0px 10px;
    object-fit: cover;
}

.webdesign,
.printing3d {
    padding-top: 0.5px;
    border-radius: 10px;
    box-shadow: #e0dede 0px 0px 10px;
    background-image: url("img/webdesign.png");
}

/*==============more section=================*/

.morelist {
    display: block;
    justify-content: space-around;
    width: 80%;
    margin: 0 auto;
    list-style-type: none;
}

#more h2 {
    margin-top: 40px;
    font-size: 35px;
}

#more li h2 {
    font-size: 30px;
}

/*==============more about 3d printing=================*/
article {
    max-width: 70%;
    margin: 60px auto;
    padding: 40px;
    background: #FFF;
    border-radius: 12px;
}

.morelist h2 {
    font-size: 2rem;
    margin-bottom: 5px;
    padding-bottom: 10px;
}

.morelist h3 {
    font-size: 1.3rem;
    margin-top: 4px;
    margin-bottom: 5px;
    color: #444;
}

.morelist p {
    margin: 7px;
    margin-bottom: 10px;
    font-size: 0.9rem;
    color: #333;
    text-align: left;
}

/*==============window resizes=================*/
@media (max-width: 768px) {

    #nav {
        margin-left: 0;
    }

    header {
        padding-right: 55px;
        margin-left: 0;
        flex-direction: column;
    }

    header ul {
        justify-content: center;
        /*flex-direction: column;*/
        font-size: xx-small;
        padding: 0;
        gap: 0;
    }

    .skillslistcontent ul {
        flex-direction: column;
    }

    h1 {
        font-size: 2.5rem;
    }

    h2 {
        font-size: 2rem;
    }

    h3 {
        font-size: 1.5rem;
    }

    p {
        font-size: 1rem;
    }
}
