body{
    margin:0;
}

header{
    display: flex;
    align-items: center;
    background-color:rgb(108, 88, 241);
    width:100%;
}

header h1{
    display:inline;
    color:white;
    margin-left:20px;
}

header ul{
    display:flex;
    margin:0;
    font-size:18px;
    width:80%;

}

header li{
    color:#FFF;
    height: fit-content;
    width:fit-content;
    list-style:none;
    padding:5px;
    background-color: blueviolet;
    border-radius: 15px;
    width:max-content;
    margin-left:auto;
}

header a{
    text-decoration: none;
    color:#FFF;
}

header li:hover{
    background-color: rgb(108, 88, 241);
    cursor: pointer;
}

main{
    text-align: center;
    margin-top: 20px;
}

main h1{
    font-size: 55px;
    margin-bottom: 40px;
}

.textcontent{
    display: block;
    margin-left:5%;
    width: 40%;
    font-size: 20px;
}

#aboutme{
    display: flex;
    margin-right: 3%;
}

#aboutme h2{
    font-size: 45px;
    margin-bottom: 30px;
}

#aboutme a{
    text-decoration: none;
}

#aboutme p{
    font-size: 20px;
    width: auto;
    margin: auto;

}
main img{
    margin:5%;
    width: 300px;
    height: auto;
    border-radius: 10%;
    border: 5px solid #000;
}

hr{ 
    margin: 1% 0 1% 0;
}

footer{
    background-color:rgb(77, 77, 77);
    color:white;
    text-align: center;
    padding: 60px;
    padding-top: 30px;
    bottom: 0;
    width: auto;
}

.footerstuff{
    font-size: 20px;
    height:150px;
    display: block;
    margin-bottom:40px;
}

.footerstuff a{
    text-decoration: none;
    color:white;
    font-size: 20px;
    margin: 0 10px 0 10px;
}
